<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header data-aos="fade-down" data-aos-duration="1300">
      <div class="container">
        <div class="header__content">
          <div class="header__content--logo-group">
            <div class="logo_group-img">
              <figure class="logo">
                <img src="./assets/img/logo_pro.svg" alt="" />
              </figure>
            </div>
          </div>
          <div class="header_hotline">
            <span>Need help? Call Us:</span>
            <p>(+84)14893279</p>
          </div>
          <div class="header_search-group">
            <input placeholder="Search here..." type="text" name="" id="" />
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M505 442.7L405.3 343c28.3-35.3 45.3-80 45.3-128C450.6 96.5 354.1 0 225.3 0S0 96.5 0 215.3 96.5 430.6 225.3 430.6c48 0 92.7-17 128-45.3L442.7 505c10 10 26.2 10 36.2 0l26-26c10.1-10 10.1-26.3.1-36.3zM225.3 365.3c-82.8 0-150-67.2-150-150s67.2-150 150-150 150 67.2 150 150-67.2 150-150 150z"
                />
              </svg>
            </button>
          </div>
          <div class="header_action_group">
            <button
              id="btn-login"
              onclick="window.location.href='./login.html'"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-person-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                />
              </svg>
            </button>
            <button
              id="btn-login-success"
              onclick="window.location.href='./account.html'"
            >
              <svg
                style="transform: translateX(-1px)"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path
                  d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"
                />
              </svg>
            </button>
            <button
              class="btn-add-extra"
              onclick="window.location.href='./favorite.html'"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-heart-fill"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                />
              </svg>
              <div class="extra-number favorite"></div>
            </button>
            <button
              class="btn-add-extra"
              onclick="window.location.href='./cart.html'"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-bag-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"
                />
              </svg>
              <div class="extra-number cart"></div>
            </button>
          </div>
        </div>
        <div class="header__content--nav">
          <ul class="header__content--ul">
            <!-- Home -->
            <li>
              <a href="./index.html">Home</a>
              <p></p>
            </li>
            <!-- Shop -->
            <li>
              <a href="./shop.html">Shop</a>
              <p></p>
            </li>
            <!-- Products -->
            <li class="header__nav--products">
              <a href="javascript:void 0">Products</a>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path
                  d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
                ></path>
              </svg>

              <div class="extra-menu-group-products extra_menu">
                <div class="extra_item">
                  <h2>🐶 Dog Food</h2>
                  <ul>
                    <li><a href="javascript:void 0">Dry Food</a></li>
                    <li><a href="javascript:void 0">Wet Food</a></li>
                    <li><a href="javascript:void 0">Treats & Snacks</a></li>
                  </ul>
                </div>
                <div class="extra_item">
                  <h2>🐱 Cat Food</h2>
                  <ul>
                    <li><a href="javascript:void 0">Dry Food</a></li>
                    <li><a href="javascript:void 0">Wet Food</a></li>
                    <li><a href="javascript:void 0">Treats & Snacks</a></li>
                  </ul>
                </div>
                <div class="extra_item">
                  <h2>🧸 Toys</h2>
                  <ul>
                    <li><a href="javascript:void 0">Chew Toys</a></li>
                    <li><a href="javascript:void 0">Interactive Toys</a></li>
                    <li><a href="javascript:void 0">Plush Toys</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <!-- Blog -->
            <li class="header_nav--blogs">
              <a href="./blog.html">Blog</a>
              <p></p>
            </li>
            <!-- Page -->
            <li class="header__nav--page">
              <a href="javascript:void 0">Page</a>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path
                  d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
                ></path>
              </svg>
              <div class="extra_menu-group-page extra_menu">
                <ul>
                  <li>
                    <a style="font-size: 1.8rem" href="./about.html"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a style="font-size: 1.8rem" href="./contact.html"
                      >Contact</a
                    >
                  </li>
                  <li>
                    <a style="font-size: 1.8rem" href="javascript:void 0"
                      >SiteMap</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
  <script>
    const btnLogin = document.getElementById("btn-login");
    const btnLoginSuccess = document.getElementById("btn-login-success");
    console.log(localStorage.getItem("isLoggedIn"));
    if (localStorage.getItem("isLoggedIn") === "true") {
      btnLoginSuccess.classList.remove("btn-none");
      btnLogin.classList.add("btn-none");
    } else {
      btnLoginSuccess.classList.add("btn-none");
      btnLogin.classList.remove("btn-none");
    }
    function renderNumber() {
      let data1 = JSON.parse(localStorage.getItem("listFavorite"));
      let data2 = JSON.parse(localStorage.getItem("listCart"));
      let listShowFavorite = document.querySelector(".extra-number.favorite");
      let listShowCart = document.querySelector(".extra-number.cart");

      listShowFavorite.innerHTML = `<p>${data1.length}</p>`;
      listShowCart.innerHTML = `<p>${data2.length}</p>`;
    }

    renderNumber();
  </script>
</html>
