:root {
  --background-primary: #001952 ;
}

button {
  background-color: transparent;
  border: none;
}

.btn-primary {
  padding: 20px 50px;
  background: #001952;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
}
.btn-primary span {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}

.container-header {
  padding: 3.25rem 2rem 1.25rem 2rem;
  margin: 0px 1rem;
}

img {
  pointer-events: none;
  user-select: none;
}

header {
  position: relative;
  padding: 30px 0px 10px 0px;
  background-color: var(--background-primary);
}

.header__content--extra {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -60px;
  padding: 20px 30px;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.header__content--extra-left {
  display: flex;
  gap: 35px;
}
.header__content--extra-left figure {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__content--extra-left figure figcaption {
  letter-spacing: 0.1rem;
}
.header__content--extra-left figure svg {
  transform: scale(1.1);
}

.header__content--extra-right {
  display: flex;
  gap: 40px;
}
.header__content--extra-right button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__content--extra-right button svg {
  transform: translateY(3px);
}
.header__content--extra-right button span {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header__content--logo-group {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__content--search {
  position: relative;
  flex: 1;
  height: 6.5rem;
}
.header__content--search_input {
  width: 100%;
  height: 100%;
  padding: 2.6rem 1.2rem;
  font-size: 1.8rem;
}
.header__content--search_button {
  position: absolute;
  cursor: pointer;
  right: 10px;
  padding: 13px;
  border: none;
  background-color: transparent;
}
.header__content--search_button > svg {
  transform: translateY(2px);
}

.logo > svg:last-child {
  transform: translateY(calc(6px + 50%));
}

.button_header--action div {
  position: relative;
  width: 4rem;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 2px;
}
.button_header--action div::after {
  position: absolute;
  display: block;
  top: -14px;
  content: "";
  width: 4rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 2px;
}
.button_header--action div::before {
  position: absolute;
  display: block;
  top: 14px;
  content: "";
  width: 4rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 2px;
}

.header__content--nav ul {
  display: flex;
  gap: 30px;
}
.header__content--nav ul li {
  padding: 30px;
}
.header__content--nav ul li a {
  font-size: 2.4rem;
  color: #fff;
  letter-spacing: 0.1rem;
  transition: color 0.4s;
}
.header__content--nav ul li a:hover {
  color: #FFD700;
}

.header__content--cartGroup {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__content--cartGroup__search {
  width: 40px;
}
.header__content--cartGroup__search svg {
  width: 100%;
  height: 100%;
}
.header__content--cartGroup__btn {
  position: relative;
  padding: 0px 30px;
}
.header__content--cartGroup__btn.btn_search {
  height: 100%;
  padding: 10px 30px;
  border-right: 2px solid #fff;
}
.header__content--cartGroup__imgGr figcaption span {
  display: block;
  margin-top: 3px;
  padding: 2px 0px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.btn__left {
  display: block;
  border-right: 2px solid #fff;
}

.header__content--btnChoice {
  position: absolute;
  top: 14px;
  right: 27px;
}

.header__content--feedback {
  display: block;
  position: absolute;
  padding: 15px;
  background-color: #00205b;
  transform: rotate(270deg);
  right: -51px;
  cursor: pointer;
}
.header__content--feedback span {
  display: block;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.btn_account {
  cursor: pointer;
}
.btn_account:hover ~ .header__content--login-extra {
  opacity: 1;
  visibility: visible;
  height: auto;
  z-index: 10;
}

.header__content--login-extra {
  opacity: 0;
  visibility: hidden;
  height: 0%;
  transition: opacity 0.5s;
  position: absolute;
  top: 80px;
  right: 63px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  background-color: #fff;
  padding: 15px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  z-index: 10;
}
.header__content--login-extra:hover {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.header__content--login-extra::after {
  z-index: 10;
  position: absolute;
  top: -23px;
  right: 32px;
  content: "";
  display: block;
  width: 72%;
  height: 40px;
  background-color: transparent;
}
.header__content--login-extra button {
  cursor: pointer;
  padding: 20px 35px;
  outline: 2px solid #fff;
  transition: transform 0.4s, outline 0.3s;
}
.header__content--login-extra button:hover {
  outline-color: #333;
}
.header__content--login-extra button span {
  font-size: 1.6rem;
  font-weight: 600;
}

.header__content--login-btnSignIn, .header__content--login-btnCreateAccount {
  letter-spacing: 0.1rem;
  border-radius: 6px;
  white-space: nowrap;
}
.header__content--login-btnSignIn {
  background-color: #001952;
  color: #fff;
}
.header__content--login-btnCreateAccount {
  border: 2px solid #001952;
}

main {
  padding-top: 60px;
}

.main_content--hidden {
  overflow: hidden;
}

.main_content {
  display: inline-flex;
}

.main_content--banner {
  width: 1860px;
  user-select: none;
}

.row {
  height: 100%;
}

.main_content--banner-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #00205b;
}
.main_content--banner-left.banner_second {
  justify-content: flex-start;
}
.main_content--banner-left.banner_second .main_content--banner-title {
  text-align: left;
  font-size: 2.6rem;
}
.main_content--banner-left.banner_second .main_content--banner-title span:nth-child(1) {
  font-size: 4rem;
}
.main_content--banner-left.banner_second .main_content--banner-title span:nth-child(3) {
  font-size: 2.5rem;
  line-height: 3rem;
}
.main_content--banner-left.banner_second .main_content--banner-title span {
  text-align: left;
}
.main_content--banner-left.banner_thr {
  justify-content: flex-start;
}
.main_content--banner-left.banner_thr > figure {
  overflow: hidden;
  position: absolute;
  width: 500px;
  height: 100%;
  right: -500px;
  top: 0px;
}
.main_content--banner-left.banner_thr > figure img {
  width: 100%;
}
.main_content--banner-left.banner_thr .main_content--banner-title > * {
  text-align: left;
}
.main_content--banner-left.banner_thr .main_content--banner-title span:nth-child(1) {
  font-size: 3rem;
  margin-bottom: 10px;
}
.main_content--banner-left.banner_thr .main_content--banner-title h1 {
  font-size: 7.6rem;
  text-transform: uppercase;
  color: #6edcfa;
  margin-bottom: 10px;
}
.main_content--banner-left.banner_thr .main_content--banner-title span:nth-child(3).poppins-regular {
  font-size: 4rem;
}

.main_content--banner-extra {
  position: absolute;
  right: -31px;
  bottom: -3px;
}
.main_content--banner-extra img {
  height: 280px;
}

.main_content--banner {
  background-color: #c8f0fd;
}
.main_content--banner.banner_second, .main_content--banner.banner_thr {
  background-color: #6edcfa;
}

.main_content--banner-title {
  text-align: center;
  padding: 40px 40px 50px 40px;
  color: #fff;
  font-size: 4rem;
}
.main_content--banner-title span {
  font-size: 9rem;
  letter-spacing: 0.1rem;
  display: block;
  width: 100%;
  color: #fff;
}
.main_content--banner-title .main_content--desc_small {
  font-size: 3.6rem;
}

.desc__left {
  text-align: left !important;
}

.main_content--banner-center {
  position: relative;
  display: flex;
  height: 100%;
  padding-left: 50px;
  align-items: center;
}
.main_content--banner-center figure {
  width: 610px;
}
.main_content--banner-center figure img {
  object-fit: cover;
  width: 140%;
}
.main_content--banner-center.banner_thr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: translateX(-100px);
}
.main_content--banner-center.banner_thr > span {
  color: #333;
  font-weight: 300;
}
.main_content--banner-center.banner_thr > span a {
  color: #333;
}
.main_content--banner-center.banner_thr figure {
  width: 200px;
}
.main_content--banner-center.banner_thr figure img {
  width: 100%;
}

.main_content--banner_2 {
  position: absolute;
  width: 740px;
  top: -62px;
  right: -290px;
}
.main_content--banner_2 img {
  width: 105%;
  height: 100%;
  object-fit: cover;
}

.main_content--banner-right {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.main_content--banner-right figcaption {
  font-weight: 400;
}

.main_content--banner-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-10px);
  margin-left: 360px;
  gap: 20px;
}
.main_content--banner-btn > span {
  font-size: 1.4rem;
}

.list__banner--show {
  padding: 15px 50px;
}
.list__banner--show ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.list__banner--show ul li {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 2px #00205b solid;
  border-radius: 50%;
}

.active {
  background-color: #00205b !important;
}

@keyframes leftRight {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.main_content--service {
  padding-top: 100px;
}

.main_content--service_list {
  width: 100%;
  padding: 50px 40px;
  border: 1px dashed #ccc;
  border-radius: 10px;
}
.main_content--service_list article {
  width: 100%;
  display: flex;
  gap: 40px;
  border-right: 1px dashed #ccc;
  align-items: center;
}
.main_content--service_list article.none_border {
  border-right: 3px solid transparent;
}
.main_content--service_list article > svg {
  opacity: 0.2;
  width: 45px;
  height: 100%;
  fill: #333;
  transition: animation 1s;
}
.main_content--service_list article > svg:hover {
  animation: leftRight 1s;
}

.main_content--service-title {
  font-size: 2rem;
  padding-bottom: 20px;
}

.main_content--service-itemInfo > p {
  line-height: 2.4rem;
  width: 245px;
}

.main_content--category_title {
  position: relative;
  font-size: 4rem;
  color: #0a214f;
  padding-top: 70px;
  padding-bottom: 55px;
}

.loading_category-extra {
  position: absolute;
  top: 50px;
  left: -20px;
}

.main_content--category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main_content--category-item > span {
  font-size: 3rem;
  color: #001952;
  transition: color 0.5s;
  user-select: none;
  cursor: pointer;
}
.main_content--category-item > span:hover {
  color: #f58322;
}
.main_content--category-item > figure {
  width: 75%;
  border-radius: 50%;
}
.main_content--category-item > figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/*# sourceMappingURL=stytel.css.map */
